@model tryMVC.Models.NationalitiesModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NationalitiesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nationalityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationalityID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nationalityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationalityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
