@model IEnumerable<tryMVC.Models.NationalitiesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nationalityName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nationalityName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.nationalityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nationalityID })
        </td>
    </tr>
}

</table>
