@model tryMVC.Models.WorkModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.service)
        </dt>

        <dd>
            @if (Model.service != null)
            {
                foreach (var item1 in Model.service)
                {
               @Html.DisplayFor(modelItem => item1.serviceName) <br />
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item.serviceItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.customerName)
        </dd>
       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.workID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
