@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Banzeena</h1>
    <p class="lead">"My Banzeena" is a simple web application made by visual studio MVC. It is a simple simulation to a system for a gas station and the services than can be done there. </p>
   
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Work</h2>
        <p>
           You can add the work done and specify the customer, the service done for his item and the price.
        </p>
        <p><a class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Create", "Work") + "'");">Add  &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Customers</h2>
        <p>You can add several customers, browse through their information and edit it.</p>
        <p><a class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Customers") + "'");">Go to Customers &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Items</h2>
        <p>You can easily add several types of vehicles that you encounter everyday.</p>
        <p><a class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "ServiceItems") + "'");">Go to Service Items &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Services</h2>
        <p>You can easily add any service that can be done to ny vehicle.</p>
        <p><a class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Services") + "'");">Go to Services &raquo;</a></p>
    </div>
</div>